p {
	text-align: center;
}
img{
	position: relative;
	float:left;
	width:100%;
	height: auto;
	max-width: 100%;
}
.pokemon {
	display: inline-block;	
	/*border:solid 1px;*/
	width: 20%;
	box-sizing: border-box;
}

.pokemon:hover {
	border:solid 10px;
	border-color: blue;
}
.pokemon:active {

}

#popup {
	border:solid 10px;
	border-color: red;
	box-sizing: border-box;
	display: none;
	
}
